[submodule "FINAL_PROJECT/Final_Group_Project"]
	path = FINAL_PROJECT/Final_Group_Project
	url = https://github.com/DevinDGuo/Final_Group_Project.git
[submodule "Final_Group_Project"]
	path = Final_Group_Project
	url = https://github.com/DevinDGuo/Final_Group_Project.git
